<div class="col-md-12">
    <nav class="navbar navbar-md mt-0">
        <ul class="nav navbar-right mt-0 pt-0 mr-0">	
            <li>
                <a style="color: rgb(202, 195, 195); border-radius: 4px;" class="nav-link" routerLinkActive="active" routerLink="/home">DASHBOARD</a>
            </li>
            <li>
                <a style="color: rgb(202, 195, 195);" class="nav-link" routerLinkActive="active" routerLink="/batches/todays_batches" >BATCHES</a>
            </li>
            <li>
                <a style="color: rgb(202, 195, 195);" class="nav-link" routerLinkActive="active" routerLink="/bills">BILLS</a>
            </li>
            <li>
                <a style="color: rgb(202, 195, 195);" class="nav-link" routerLinkActive="active" routerLink="/reports">REPORTS</a>
            </li>
        </ul>

    </nav>
</div>		